@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
::selection {
  background: #ff6600;
  color: #ffffff;
}
body {
  padding-top: 70px;
  margin-bottom: 60px;
}
html {
  position: relative;
  min-height: 100%;
}
code {
  padding: 9.5px;
}
pre {
  border: 0;
}
.navbar-brand b {
  color: #ff6600;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.footer .container {
  margin-top: 20px;
}
